$mehmeh     : #6A709E;

.footer {
  background-color: $mehmeh;
  margin-top: 60px;
  padding-top: 30px;
  text-align: center;
  color: #fff;
  .footer-tab {
    padding: 0 60px 0 60px;
  }
}

.footer h4 {
  color: #fff;
  font-weight: 300;
  font-style: bold;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer p, .footer a {
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
}


.footer-links {
  display: block;
  list-style-type: none;
}
